<style>
  nav {
    display: block;
    background-color: #eee;
    height: 100vh;
  }
  a {
    display: block;
    padding: 5px 10px;
  }
</style>
<nav>
  <a href="/">Home</a>
  <a href="/dashboards">Dashboards</a>
  <a href="/tools">Tools</a>
  <a href="/settings">Settings</a>
</nav>
